<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/pure-min.css" />
		<link rel="stylesheet" href="/static/css/base.css" />
		<link rel="stylesheet" href="/static/css/progress.css" />
		<script language="JavaScript" src="/static/js/sprintf.min.js"></script>
		<script language="JavaScript" src="/static/js/progressbar.min.js"></script>
		<script language="JavaScript" src="/static/js/helpers.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="content" style="display: none">
			<div class="header">
				<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
					<span class="pure-menu-heading"><span id="user">/</span> @ Storage</span>
					<span class="pure-menu-heading"><a href="https://${config['ilo']['fqdn']}:${config['ilo']['https_port']}">ILO</a></span>
					<span class="pure-menu-heading">Uptime <span id="uptime"></span>, CPU usage <span id="cpu"></span></span>
					<span class="pure-menu-heading">⬆ <span id="tx"></span> ⬇ <span id="rx"></span></span>

					<ul class="pure-menu-list">
						<li class="pure-menu-item"><a href="#" class="pure-menu-link" onclick="perform_action('inhibit_toggle');">Inhibit</a></li>
					</ul>
				</div>
			</div>

			<div class="splash-container">
				<div class="splash">
					<div class="sizefloat" name="#">
						Total<br />
						<span class="spc_used"></span> / <span class="spc_total"></span>
						<div class="progress"></div>
						<span class="spc_free"></span> free
					</div>
					%for user in config['users']:
					<div class="sizefloat" name="${user}">
						${user}<br />
						<span class="spc_used"></span> / <span class="spc_total"></span>
						<div class="progress"></div>
						<span class="spc_free"></span> free
					</div>
					%endfor
				</div>
			</div>

			<div class="content-wrapper">
				<div class="content">
					<h3>IP Address</h3>
					<pre id="raw_ip"></pre>

					<h3>MDStat</h3>
					<pre id="raw_md"></pre>
				</div>
			</div>
		</div>

		<script language="JavaScript">
<%text>
		function perform_action(action) {
			if (action == "turn_off") {
				const yes = confirm("This is dangerous and usually unnecessary. Are you sure?");
				if (!yes) {
					return;
				}
			} else if (action == "reset") {
				const response = prompt("This is VERY dangerous and usually unnecessary. If you are absolutely sure, type 'DO IT' in the field to continue.");
				if (response !== "DO IT") {
					return;
				}
			}
			fetch("/action/" + action);
		}

		const elem_content = document.getElementById("content");
		const elem_user = document.getElementById("user");
		const elem_raw_ip = document.getElementById("raw_ip");
		const elem_raw_md = document.getElementById("raw_md");
		const elem_uptime = document.getElementById("uptime");
		const elem_cpu = document.getElementById("cpu");
		const elem_tx = document.getElementById("tx");
		const elem_rx = document.getElementById("rx");

		function update_sizefloat(sizefloat, data) {
			let total, used;
			const name = sizefloat.getAttribute("name");
			if (name == "#") {
				/* Total */
				total = data["df"]["total"];
				used = data["df"]["used"];
			} else {
				total = data["quota"]["parsed"][name]["hard"];
				used = data["quota"]["parsed"][name]["used"];
			}
			sizefloat.querySelector(".spc_used").innerHTML = format_space(used);
			sizefloat.querySelector(".spc_total").innerHTML = format_space(total);
			sizefloat.querySelector(".spc_free").innerHTML = format_space(total - used);
			sizefloat.querySelector(".progress").progressbar.set(used / total);
		}

		function updated_data_recvd(data) {
			elem_content.style.display = "";
			elem_user.innerHTML = data["user"] || "N/A";
			elem_raw_ip.innerHTML = data["ip"]["raw"];
			elem_raw_md.innerHTML = data["mdstat"]["raw"];
			elem_uptime.innerHTML = format_time(data["uptime"]);
			elem_cpu.innerHTML = format_cpu(data["uptime"], data["idletime"], data["cpucount"]);
			document.querySelectorAll(".sizefloat").forEach(function(sizefloat) { update_sizefloat(sizefloat, data); });
			elem_tx.innerHTML = format_space(data["netif"]["tx_speed"]) + "/s";
			elem_rx.innerHTML = format_space(data["netif"]["rx_speed"]) + "/s";
		}

		function trigger_update_data() {
			fetch("/status").then(function(response) {
				if (response.status == 200) {
					return response.json();
				}
			}).then(updated_data_recvd);
		}


		/* Construct all progressbars */
		document.querySelectorAll(".progress").forEach(function(div) {
			const circle = new ProgressBar.Circle(div, {
				color: "#FCB03C",
				duration: 500,
				strokeWidth: 5,
				step: function(state, circle) {
					var value = Math.round(circle.value() * 100);
					circle.setText(value + "% used");
				},
			});
			div.progressbar = circle;
		});

		trigger_update_data();
		setInterval(trigger_update_data, 1000);

		</script>
</%text>

	</body>
</html>
