.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 250px;
	background-color: #bbb;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 3px;

	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
